@CHARSET "UTF-8";

body {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 76%;
	background-image: url(images/body_bg.gif);
}

a.hand {
	cursor: pointer;	
}

h1.page-title {
	font-size: 20pt;
	font-family: Verdana, "Trebuchet MS";
	color: #5e256e;
	font-weight: 400;
}

div#heading-spacer {
	width: 960px;
	height: 40px;	
}

h3.the-heading {
	font-size: 18pt;
	font-family: Arial, Verdana, "Trebuchet MS";
	font-weight: 900;
	color: #ffffff;
	font-weight: 400;
	margin: 0;
	padding: 0;
	position: absolute;
	top: 4px;
	left: 14px;
}

div#container {
	width: 960px;
	margin: 0 auto;
}

div#header {
	width: 960px;
	height:	60px;
}

div#otb-logo {
	background-image: url(images/otb-logo.png);
	width: 403px;
	height: 91px;
	float: left;
}

div#cl-logo {
	background-image: url(images/cl-logo.png);
	width: 202px;
	height: 91px;
	float: right;
}

div#top-bar {
	width: 960px;
	height: 33px;
	background: #565656;
	border-bottom: 1px solid #C7C7C7;	
	margin-bottom: 20px;
}

div#top-bar-spacer {
	width: 960px;
	height: 24px;
	position: relative;	
}

div#content-wrapper {
	width: 960px;
	margin: 0 auto;
	background: #FFFFFF;	
	border: 1px solid #C7C7C7;
	height: 1043px;
	position: relative;
}

div.content {
	width: 880px;
	margin:0 auto;
	padding-bottom: 40px;
	position: relative;
}

div.the-box-template {
	width: 444px;
	float: right;
	border: 3px dashed #E7E7E7;
	position: relative;	
}

div#load {
	display: none;
	position: absolute;
	top: 0;
	right: 0;
	width: 444px;
}

/*========================.
|   Box positions only    |
|________________________*/

	div.the-box-to-do {
		float: left;
	}
	
/*___END_BOX_POSITIONS___*/




/*========================.
|Universal box properties |
|________________________*/

	div.the-box {
		position: relative;
		width: 390px;

		border: 1px solid #E7E7E7;
		background: transparent;
		z-index: 1;
	}
	
	div.the-title {
		position: absolute;
		width: 240px;
		height: 34px;
		top: -17px;
		left: 32px;
		background: #606060; 
		z-index: 2;
	}
	
	img.the-box-bg {
		position: absolute;
		top: 0;
		left: 0;	
		z-index: 0;	
	}
	
	div.the-text {
		background: transparent;
		position: absolute;
		width: 357px;
		top: 30px;
		left: 16px;
		z-index: 3;
	}

	div.the-text h3 a {
		color: #4C4C4C; 
	}
	
	div.the-text h3 a:hover {
		color: #5D256D; 
	}

	div.the-text a {
		color: #000000; 
		text-decoration: none;
	}
	
	div.the-text a:hover {
		color: #606060; 
		text-decoration: none;
	}

/*___END_BOX_PROPERTIES___*/

div.the-box-support-options {
	float: right;
	margin-top: 30px;
	margin-right: 10px;
}


/*========================.
|To-do list properties    |
|________________________*/



ul.todo {
	margin-left: -20px;
}

ul.todo li.need {
	background: url(images/need.png) 0px -1px no-repeat;	
	height: 20px;
	padding-left: 20px;
	list-style-type: none;
}

ul.todo li.have {
	background: url(images/have.png) 0px top no-repeat;	
	height: 20px;
	padding-left: 20px;
	list-style-type: none;	
}

.is-empty {
	display: none;
	}

/*___END_TODO_PROPERTIES___*/



/*========================.
| Preview properties      |
|________________________*/

#load {
		display: none;
	}

/*___END_PREVIEW_PROPERTIES___*/



/*========================.
| Jquery tooltip old      |
|________________________*/	
#tooltip {
	position: absolute;
	z-index: 3000;
	border: 0px solid #fff;
	background-color: #383838;
	padding: 18px;
	opacity: 0.90;
	color: #ffffff;
}

#tooltip h3, #tooltip div { margin: 0; }

/*___END_PREVIEW_PROPERTIES___*/



/*========================.
| Panel/Upload Properties |
|________________________*/	
#panel {
	position: absolute;
	z-index: 11000;
	border: 1px solid #606060;
	background-color: #ffffff;
	padding: 18px;
	top: -20px;
	left: 240px;
	width: 440px;
	height: 200px;
	display: none;
}

span#breadcrumb-page {
	font-size: 16px;
	font-weight: bold;
}

span#breadcrumb-asset {
	font-size: 14px;
	font-weight: normal;
}

	/* Upload/Submit/Cancel Buttons */
	
	div.wrapper {
	margin-top: 8px;
	cursor: pointer; 
	float: left; 
	background: url(images/uploadbutton.png) 0 0 no-repeat; 
	width: 100px; 
	height: 38px; 
	font-size: 18px; 
	color: #ffffff;
	}
	
	div.cancel {
	margin-left: 6px;
	}

#resp-good {
	position: absolute; 
	top: 0; 
	left: 0;
	width: 100%; 
	background-color: #74B63E; 
	color: white; 
	font-size: 22px
}
	
#resp-bad {
	position: absolute; 
	top: 0; 
	left: 0;
	width: 100%; 
	background-color: red; 
	color: white; 
	font-size: 22px
}
/*___END_PANEL/UPLOAD_PROPERTIES___*/

/*========================.
| Bradditions      |
|________________________*/

#header img {
	border: 0;
}

#load {
		display: none;
	}
.clear {
	clear: both;
}
#top-bar {

}
.infoBox {
	width: 386px;
	border: 1px solid #E7E7E7;
	background-image: url('images/boxbg2.png');
	background-repeat: repeat-x;
	margin-bottom: 24px;
	padding: 16px;
	min-height: 150px;
}
.infoBox h2 {
	margin-top: 0;
}
a {
	color: #9c25be;
}
.floatLeft {
	float: left;
}
.floatRight {
	float: right;
}
.centered {
	margin-left: auto;
	margin-right: auto;
}
#myPublication {
	min-height: 280px;
}
#myVideo {
	min-height: 280px;
}
#myServices {

}
#mySupport {

}
#mySalesKit {

}
#player {
	display:block;
	width:380px;
	height:209px;
	margin: 0 auto;
}
.loginform label, input {
	display: block;
}
.loginform input {
	margin-bottom: 4px;
}
.forgotpassword, .fineprint {
	font-size: .8em;
}
.fineprint {
	text-align: center;
}
/*___END_BRADDITIONS___*/

